<style>
      
      /* ---text--- */ 
      
      .caps {
        text-transform: uppercase
      }
      
    html {
      font-family: "lato", sans-serif;
      font-weight: 900;
      background-color: whitesmoke;
      color: black;
      }
      
     .main {
      width: 100%;
      height: 703px;
      position: relative;
      }
      
     row {
      position: absolute;
    }
      
     .title {
      font-weight: 400;
      font-size: 144px;
      color: #FFFFFF;
      letter-spacing: 3.94px;
      text-shadow: 0 2px 9px rgba(119,119,119,0.50);
      position: relative;
      text-align: center;
      line-height: 173px;
     }
      
    .date {
      font-weight: 300;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.49px;
      position: relative;
      text-align: right;
    }
      
    .about {
      font-family: Lato-Semibold;
      font-size: 48px;
      color: #000000;
      letter-spacing: 5.38px;
      line-height: 62px;
      position: relative;
    }
      
    .about-1 {
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      letter-spacing: 1.19px;
      line-height: 29px;
      position: absolute;
      width: 600px;
    }
      
    .gradient-t {
      font-family: Lato-HeavyItalic;
      font-size: 50px;
      color: #FCFCFC;
      letter-spacing: 3.5px;
      line-height: 64px;
      text-shadow: 2px 2px 12px rgba(71,71,71,0.50);
      position: relative;
    }
      
    .anon {
      font-weight: 300;
      font-size: 25px;
      color: #FCFCFC;
      letter-spacing: 1.75px;
      font-style: italic;
      position: relative;
    }
      
    .speakers {
      font-family: Lato-Bold;
      font-size: 24px;
      color: #000000;
      letter-spacing: 4.57px;
      position: absolute;
      }  
      
    .speaker-1 {
      font-family: Lato-Semibold;
      font-size: 30px;
      color: #000000;
      letter-spacing: 2.1px;
      line-height: 38px; 
      text-align: left;
      position: relative;
      }
      
    .job {
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      letter-spacing: 1.68px;
      line-height: 24px; 
      position: relative;
      text-align: left;
      }
      
    .time {
      font-family: Lato-Black;
      font-size: 20px;
      color: #000000;
      letter-spacing: 5.39px;
      position: relative;
      }
      
      .location {
        font-family: Lato-Black;
        font-size: 26px;
        color: #000000;
        letter-spacing: 2.59px;
        position: relative;
        line-height: 50px;
      }
      
      .location-2 {
        font-weight: 400;
        font-size: 25px;
        color: #000000;
        letter-spacing: 2.59px;
        line-height: 34px;
        position: relative;
      }
      
      .location-3 {
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        letter-spacing: 2.59px;
        line-height: 34px;
        position: relative;
      }
      
      .footer-txt {
        font-weight: 500;
        font-size: 26px;
        color: #FFFFFF;
        letter-spacing: 2.62px;
        line-height: 45px;
        position: relative;
        
      }
      
     /* ---img--- */   
      
    .logo {
      background-image: url(Images/Mockup.png);
      background-size: cover;
      position: absolute;
      height: 10px;
    }
    
    .img-1 {
      background-image: url(Images/main.png);
      background-size: cover;
      position: relative;
    }
    
    .img-about-1 {
      background-image: url(Images/img-about-1.png);
      background-size: cover;
      position: relative;
      width: 350px;
      height: 350px;
      }
      
    .img-about {
      background-image: url(Images/img-about-1.png);
      background-size: cover;
      position: relative;
      width: 350px;
      height: 350px;
      }
      
    .speaker-img-1 {
      background-image: url(Images/speaker-img-1.png);
      background-size: cover;
      position: relative;
      height: 312px;
      width: 336px;
      }
      
    .speaker-img-2 {
      background-image: url(Images/speaker-img-2.png);
      background-size: cover;
      position: relative;
      height: 312px;
      width: 336px;
      }
      
    .speaker-img-3 {
      background-image: url(Images/speaker-img-3.png);
      background-size: cover;
      position: relative;
      height: 312px;
      width: 336px;
      }
      
      .conference {
        background-image: url(Images/divider-img.png);
        background-size: cover;
        position: relative;
        width: 100%;
        height: 487px;
      }
      
      .location-img {
        background-image: url(Images/location-img.png);
        background-size: cover;
        position: relative;
        width: 520px;
        height: 290px;
        position: relative;
      }
      
    /* ---backgrounds-blocks--- */
      
    .header {
      height: 160px;
      background-color: white;
      position: relative;
      width: 100%;
      }
      
    .back {
      height: 567px;
      background-color: white;
      position: relative;
      width: 100%;
    }
      
    .back-1 {
      height: 650px;
      background-color: white;
      position: relative;
      width: 100%;  
    }
     
    .gradient {
      background: linear-gradient(#85DBEF, #9BA2DD); 
      width: 100%;
      height: 497px;
      } 
      
    .speaker-back {
      background-color: white;
      height: 520px;
      widows: 100%;
      position: relative;
      }
      
    .speaker-back-2 {
      background-color: white;
      height: 300px;
      widows: 100%;
      position: relative;
      }
      
    .line {
      background-image: linear-gradient(-180deg, #A88FED 0%, #CB35E2 99%);
      height: 6px;
      width: 100%;
      position: relative;
      }
      
    .schedule-back {
      background-color: white;
      height: 300px;
      position: relative;
      }
      
    .shape-1 {
      background: #F7EA79;
      border-radius: 10px;
      position: relative;
      height: 66px;
      width: 265px;
       font-family: Lato-Semibold;
      font-size: 20px;
      color: #000000;
      letter-spacing: 4.69px;
      text-align: center;
      line-height: 60px;
      }
      
    .shape-2 {
      background: #FF8F8F;
      border-radius: 10px;
      position: relative;
      height: 66px;
      width: 180px;
      font-family: Lato-Semibold;
      font-size: 20px;
      color: #000000;
      letter-spacing: 4.69px;
      text-align: center;
      line-height: 60px;
      }
      
    .schedule-back-2 {
      background-color: white;
      height: 100px;
      position: relative;
      }
      
    .schedule-back-3 {
      background-color: white;
      height: 300px;
      position: relative;
      }
      
    .schedule-back-b {
      background-color: white;
      height: 90px;
      position: relative;
      }
      
    .shape-3 {
      background: #C7A4F9;
      border-radius: 10px;
      height: 66px;
      width: 265px;
      position: relative;
       font-family: Lato-Semibold;
      font-size: 20px;
      color: #000000;
      letter-spacing: 4.69px;
      text-align: center;
      line-height: 60px;
      }
      
    .shape-4 {
      background: #BDF5E5;
      border-radius: 10px;
      height: 66px;
      width: 200px;
      position: relative;
       font-family: Lato-Semibold;
      font-size: 20px;
      color: #000000;
      letter-spacing: 4.69px;
      text-align: center;
      line-height: 60px;
      }
      
      .location-back {
      background-color: white;
      height: 550px;
      widows: 100%;
      position: relative; 
      }
      
      .location-back-1 {
      background-color: white;
      height: 400px;
      widows: 100%;
      position: relative; 
      }
      
    .location-back-2 {
      background-color: white;
      height: 150px;
      widows: 100%;
      position: relative; 
      }
      
     .rsvp {
      opacity: 0.67;
      background: #137097;
      border-radius: 10px;
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 5.09px;
      position: relative;
      height: 70px;
      width: 310px;
      text-align: center;
      line-height: 70px;
      }
      
    .divide {
      background-color: white;
      height: 200px;
      widows: 100%;
      position: relative;  
      }
      
      .footer{
       background-image: linear-gradient(-180deg, #F0A3B3 4%, #F2C0C8 100%);
        width: 100%;
        height: 380px;
      }
    </style>